.body{
    background-image: url("../../public/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.content{
    background:  linear-gradient(180deg, #e63232 25%, #963232 50%, #8f2b2b 75%,#4b1717 100% ); 
    opacity: .95;
}



