.body{
    background-image: url("../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content{
    background-color: rgba(22, 22, 22, 0.9);
}



